@model RestoRapido.Models.CRepas

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer ce repas?</h3>
<div>
    <h4>Repas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.m_strNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_strNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_iPrix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_iPrix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_strDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_strDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boBle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boBle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boLait)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boLait)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boOeuf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boOeuf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boArachide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boArachide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boSoja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boSoja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boFruitCoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boFruitCoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boPoisson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boPoisson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boSesame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boSesame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boCrustace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boCrustace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_boMollusque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_boMollusque)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
