@model RestoRapido.Models.CResto

@{
    ViewBag.Title = "Supprimer un restaurant";
}

<h2>Supprimer un restaurant</h2>

<h3>êtes vous sur de vouloir supprimer ce restaurant?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resRue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resRue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resNoCiv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resNoCiv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retoure aux restaurants", "Index")
        </div>
    }
</div>
