@model RestoRapido.Models.CResto
@using RestoRapido.Models

@{
    ViewBag.Title = "Détails sur le restaurant";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resNoCiv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resNoCiv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resRue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resRue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resPostal)
        </dd>

        

        

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.CRestoID })
</p>
<h2>Les tables du restaurant</h2>
<div>
    <table class="table">
        <tr>
            <th>Numéro de table</th>
        </tr>
        @if (Model.Tables != null)
        {
            foreach (var item in Model.Tables)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.i_TableNum)
                    </td>
                    <td>

                        @Html.GenerateQrCode(item.str_TableCodeQR)
                    </td>
                </tr>
            }
        }
    </table>
</div>

<p>
    @Html.ActionLink("Retour aux restaurants", "Index")
</p>