@model RestoRapido.Models.Utilisateur

<h2>Supprimer un utilisateur</h2>

<h3>Êtes-vous certain de vouloir supprimer cet utilisateur ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UtilisateurNomUsager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilisateurNomUsager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilisateurNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilisateurNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilisateurPrenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilisateurPrenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilisateurType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilisateurType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste des utilisateurs", "Index")
        </div>
    }
</div>
