@model IEnumerable<RestoRapido.Models.Utilisateur>

<h2>Les utilisateurs</h2>

<p>
    @Html.ActionLink("Ajouter un utilisateur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UtilisateurNomUsager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilisateurMDP)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.UtilisateurNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilisateurPrenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilisateurType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UtilisateurNomUsager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilisateurMDP)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.UtilisateurNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilisateurPrenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilisateurType)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.UtilisateurID }) |
            @Html.ActionLink("Détails", "Details", new { id=item.UtilisateurID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.UtilisateurID })
        </td>
    </tr>
}

</table>
