@model RestoRapido.Models.CAlerte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAlerte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlerteClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlerteClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlerteServeurID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlerteServeurID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlerteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
