@model RestoRapido.Models.CCommande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CCommande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mCmdResto.resNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdResto.resNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdTable.i_TableNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdTable.i_TableNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mUtilisateurClient.UtilisateurNomUsager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mUtilisateurClient.UtilisateurNomUsager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdCommentCommandes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdCommentCommandes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdPrixAvantTaxes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdPrixAvantTaxes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdPrixTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdPrixTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retour", "Index")
</p>
