@model IEnumerable<RestoRapido.Models.CCommande>



<h2>Liste des Commandes</h2>


<p>
    <div height="50px" width="80px"style="border-style: solid; ">
            @Html.ActionLink("Voir mes Commandes", "IndexAGS", null, new { @style = "font-size: 20px;" })
        <br>
            @Html.ActionLink("Mettre à Jour la page", "IndexServeur", null, new { @style = "font-size: 20px;" })
    </div>
</p>

<br>


<p>
    Assurez-vous de bien choisir vos tables avant de commencer votre chiffre de travail !!!!
</p>

<table class="table">
    <tr style="text-align: left">
        <th>
            @Html.DisplayNameFor(model => model.mCmdResto.resNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdTable.i_TableNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mUtilisateurClient.UtilisateurNomUsager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdPrixAvantTaxes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdPrixTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdDate)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
            <tr style="text-align: left">
                <td>
                    @Html.DisplayFor(modelItem => item.mCmdResto.resNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mCmdTable.i_TableNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mUtilisateurClient.UtilisateurNomUsager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mCmdPrixAvantTaxes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mCmdPrixTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mCmdDate)
                </td>
                <td>
                    @Html.ActionLink("Détails", "Details", new { id = item.mCmdID })
                </td>
            </tr>
    }

</table>


