@model IEnumerable<RestoRapido.Models.CCommande>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mCmdResto.resNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdTable.i_TableNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mUtilisateurClient.UtilisateurNomUsager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdStatusCommande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdCommentCommandes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdPrixAvantTaxes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdPrixTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCmdDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mCmdResto.resNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCmdTable.i_TableNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mUtilisateurClient.UtilisateurNomUsager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCmdStatusCommande)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCmdCommentCommandes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCmdPrixAvantTaxes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCmdPrixTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCmdDate)
        </td>
        
    </tr>
}

</table>
