@model IEnumerable<RestoRapido.Models.CMenu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.m_strNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m_strDateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m_strDateFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.m_strNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m_strDateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m_strDateFin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CMenuId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CMenuId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CMenuId })
        </td>
    </tr>
}

</table>
