@model RestoRapido.Models.CCommande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CCommande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mCmdClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdRestoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdRestoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdTableID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdTableID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdServerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdServerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdCommentCommandes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdCommentCommandes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdPrixAvantTaxes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdPrixAvantTaxes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdPrixTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdPrixTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdStatusCommande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdStatusCommande)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCmdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCmdDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mCmdID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
