<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    
                @if((string)Session["Type"] == "Administrateur")
                {
                     <div class="dropdown">
                        <button class="dropbtn">Ajouter </button>
                        <div class="dropdown-content">
                            @Html.ActionLink(".. un utilisateur", "Creation", "Administrateur")
                            @Html.ActionLink(".. un restaurant", "Create", "CRestoes")
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Gerer </button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Mon compte", "Index", "Administrateur")
                            @Html.ActionLink("Consulter les Commandes", "Index", "Commandes")
                        </div>
                    </div>
                }

                @if ((string)Session["Type"] == "Gerant")
                {
                    <div class="dropdown">
                        <button class="dropbtn">Ajouter </button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Ajouter un Utilisateur", "Creation", "Gerant")
                            @Html.ActionLink("Ajouter un Menu", "Index", "Menus")
                            @Html.ActionLink("Ajouter un Repas", "Index", "Repas")
                            @Html.ActionLink("Ajouter un Rabais", "Index", "RabaisRepas")
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Gerer </button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Mon compte", "Index", "Gerant")
                            @Html.ActionLink("Consulter les Commandes", "Index", "Commandes")
                        </div>
                    </div>
                }

                @if ((string)Session["Type"] == "Serveur")
                {
                    <div class="dropdown">
                        <button class="dropbtn">Gerer </button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Mon compte", "Index", "Serveur")
                            @Html.ActionLink("Choisir les Tables", "SelectTable", "Serveur")
                            @Html.ActionLink("Mes Alertes", "Alertes", "Serveur")
                            @Html.ActionLink("Consulter les Commandes", "Index", "Commandes")
                        </div>
                    </div>
                }

                @if ((string)Session["Type"] == "Client")
                {
                    <div class="dropdown">
                        <button class="dropbtn">Commander </button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Commander un repas", "Index", "Commandes")
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Menus </button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Voir les menus", "Details/" + Session["RestoID"].ToString(), "Menus")
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Gerer </button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Mon compte", "Index", "Client")
                            @Html.ActionLink("Appeler votre serveur", "AppelerServeur", "Client")
                        </div>
                    </div>
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li>@Html.ActionLink("Accueil", "Index", "Home")</li> -->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
